:root{
    --blue: #0080ff
}

*{
    font-family: poppins ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    border:none ;
    text-decoration: none;
    transition: all .5s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 2rem 9%;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}
header .logo span{
    color: var(--blue);
}
header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover{
    color: var(--blue);
}

section{
    padding: 2rem 9%;
}

.book .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
   
}
.book .row .image{
    flex: 1 1 40rem ;
}
.book .row image img{
    width: 100%;
}
.book .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}
.book .row form .inputdiv input{
    width: 100%;
    padding: 1rem;
    border: 1rem solid rgba(0, 0, 0, 0.1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}
.book .row form .inputdiv h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}