:root{
    --red: rgb(223, 38, 38)
}
body {
	margin: 0;
	padding: 0;
	background: #ecf0f1;
}

*{
    font-family: poppins ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    border:none ;
    text-decoration: none;
    transition: all .5s linear;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 2rem 9%;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}
header .logo span{
    color: var(--red);
}

.login-box {
	width: 80%;
	background: #fff;
	color: #000;
	top: 80%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 10px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
}


.login-box h1{
    margin: 0 0 30px;
    padding: 0;
    color: rgb(136, 30, 30);
    text-align: center;
    text-transform: none;
}

.login-box input{
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color:rgba(0, 0, 0, 6);
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, 6);
   outline: 0px;
   background: transparent;


}

.login-box input:focus ~label,
.login-box input:valid ~label,
.login-box input:focus ~label
{
   top: -20px;
   left: 0;
   font-size: 12px;

}

.login-box select{
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color:rgba(0, 0, 0, 6);
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, 6);
   outline: 0px;
   background: transparent;


}

.input_icon-wrapper{
    position: absolute;
    right: 12%;
    transform: translateY(-5%);
    cursor: pointer;
}

input[type="submit"] {
	background: #008CBA;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}